body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
}

.status {
    float: right;
    color: green;
}

/* Estilos adicionais para quando um presente é marcado */
li.marked {
    background-color: lightgreen;
}